name: Build va Chay tren VM

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-run:
    runs-on: self-hosted

    steps:
    - name: Lay code moi ve
      uses: actions/checkout@v3

    - name: Build Docker image tai cho
      run: docker build -t hello-devops-image .

    - name: Dung va xoa container cu
      run: |
        docker stop hello-devops-container || true
        docker rm hello-devops-container || true

    - name: Chay container moi
      run: docker run -d -p 8080:8080 --name hello-devops-container hello-devops-image