name: Build va Chay tren VM

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-run:
    runs-on: self-hosted

    steps:
    - name: Lay code moi ve
      uses: actions/checkout@v3

    - name: Build Docker image tai cho
      run: docker build -t test-cicd-image .

    - name: Dung va xoa container cu
      run: |
        docker stop test-cicd-container || true
        docker rm test-cicd-container || true

    - name: Chay container moi
      run: docker run -d -p 8080:8080 --restart unless-stopped --name test-cicd-container test-cicd-image  


